<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyApp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DEC88A0132B44C6C0F2F0563A30B710A0E1DDC27</string>
				<key>dateExpires</key>
				<string>7/7/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>58PFH5F67U.io.ionic.tapsystockv4</string>
				<key>com.apple.developer.team-identifier</key>
				<string>58PFH5F67U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>MyApp.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a84775e3-af09-47e1-b460-ed0ebd09d18e</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.ionic.tapsystockv4</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>58PFH5F67U</string>
				<key>name</key>
				<string>Tapsy Services PTY LTD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
