#submodelImageID {
    border-radius: 10px;
}

#errorContent {
    text-align: center;
    margin-top: 5px;
}


#yearsRangeID {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    // margin-left: 25px;

}

#carmodelID {
    font-family: futura-pt,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    // margin-left: 20px;
}

#allprodsslideID {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
}


#modelImageID {
    border-radius: 10px;
}

ion-card {
    height: 100% !important;
}

ion-badge {
    margin-top: 5px;
}