ion-card {
    border-style: solid;
    margin: 5px;
    border-color: #485550;

    
}

ion-label {
    font-family: effra,sans-serif;
    font-weight: 700;
    font-style: normal;
}

ion-icon {
    width: 20px;
    height: 20px;
}
