#toolebarbrandTitleID {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-right: 10px;
  font-size: 20px;
}

#fliterbutton {
  font-weight: 700;
}

.cssRightClass {
  border-right: solid 1px #e5e6eb;
  border-bottom: solid 1px #e5e6eb;
}

.cssLeftClass {
  border-bottom: solid 1px #e5e6eb;
}

.noofprodClass {
  color: #6d6d6d;
  font-size: 14px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 10px;
}

.saveTag {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10px;
}

#boxnumberID {
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}


.shellClass {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}