<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Models" [defaultHref]="['tabs/car-brand-page/car-model-page/',selectedBrand]"></ion-back-button>
    </ion-buttons>
    <ion-title>{{selectedModel}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-md="4" offset-md="4" size-lg="4" offset-lg="4" class="ion-no-padding" *ngFor="let year of years" (click)="onSelect(year.modelyear)">
        <ion-card>
          <ion-item class="ion-activatable ripple-parent" lines="none">
            <ion-icon slot="end" *ngIf="year.yearinformations" name="information-circle" color="danger" size="medium"></ion-icon>
            <ion-icon slot="end" *ngIf="year.availableremotes" name="checkmark-circle" color="success" size="medium"></ion-icon>
            
            <ion-label color="dark">
              {{year.modelyear}} 
            </ion-label>
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
             
          </ion-item>
          
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>