.primarytext {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#usernameInputID {
    margin-left: 10px;
    margin-right: 10px;
}

.ButtonLabelClass {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 20px;
}