#imageColID {
    border-right: solid #485550 1px;
  }
  
  #remoteImageID {
    border-radius: 5px;
  }
  
  .saveTag {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
  }
  
  .otherdetailsClass {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
  }
  
  #compatiblecolID {
      border-bottom: solid #485550 1px; 
  }
  
  .closeButtonClass {
    margin-top: 9px;
    margin-left: 7px;
  }
  
  #compatiblecarItemID {
    margin-right: 10px;
  }
  
  #carmodelcompatibleID {
    margin-left: 10px;
  }
  
  .shellClass {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
  }