ion-card {
    box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
    border-radius: 15px;
    text-align: left;
    margin: 7px;
}

#boxNumber {
    font-size: 20px;
}

.primarytext {
    font-family: futura-pt,sans-serif;
font-weight: 700;
font-style: normal;

}


.fontsize {
    font-size: 30px;
}

.saveTag {
    font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 12px;
  }

  #boxnumberID {
  font-size: 25px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  }

  .availableClass {
      margin-left: 20px;
  }

  #fliterbutton {
    font-weight: 700;
  }

  .shellClass {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }