h4 {
  margin-top: 0%;
  text-align: center;
  font-size: 12px;
}

#errorContent {
  text-align: center;
  margin-top: 5px;
}

.detailtitles {
  font-family: rucksack, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

.remotedetails {
  font-family: rucksack, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #240370;
  font-size: 30px;
}

.remotetypebox {
  color: #7049ff;
}

.remotetypebox::content {
  margin-top: auto;
  margin-bottom: auto;
  font-family: rucksack, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#toprow {
  height: 100%;
  vertical-align: middle;
}

#lowstockErrorcontent {
  text-align: center;
  margin-top: 5px;
}

.addnoteStyle {
  font-family: rucksack, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.carnotes {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: italic;
  padding-bottom: 5px;
  font-size: 15px;
}

ion-card {
  box-shadow: 1px 1px 5px 0px rgba(84, 6, 156, 0.315);
  border-radius: 10px;
}

#usernameID {
  font-size: 13px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#cardetails {
  border-style: solid;
}

.remotetypeh1 {
  text-align: end;
}

.primarytext {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fontsize {
  font-size: 30px;
}

#carnameID {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px;
}

#addnoteButtonID {
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#spaecialnotesheaderID {
  font-size: 13px;
  color: red;
}

.specialOfferTiles {
  width: 100%;
}

.ion-nowrap {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}
#remotesTitleID {
  font-size: 20px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
}


.saveTag {
    font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
    font-size: 12px;
  }

  #boxnumberID {
  font-size: 25px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  

  .otherdetailsClass {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;

  }

  #itemCardID {
      margin: 8px;
  }

  .shellClass {
    font-family: futura-pt, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
  }